
global:
   apiGatewayIngress: gateway-ccd-aks.service.core-compute-sandbox.internal
   caseManagementIngress: www-ccd-aks.service.core-compute-sandbox.internal
   idamApiUrl: http://ccd-test-stubs-service
   idamWebUrl: https://test-stubs-service-ccd-aks.service.core-compute-sandbox.internal

ccd-case-management-web:
  enabled: true
  nodejs:
    ingressHost: www-ccd-aks.service.core-compute-sandbox.internal

ccd-api-gateway-web:
  enabled: true
  nodejs:
    ingressHost: gateway-ccd-aks.service.core-compute-sandbox.internal
      
ccd-admin-web:
  enabled: true


draft-store-service:
  enabled: true
  java:
    ingressHost: ""

payment-api:
  enabled: true

dm-store:
  enabled: true

ccd-case-print-service:
  enabled: true

ccd-case-activity-api:
  enabled: true


ccd-test-stubs-service:
  enabled: true
  java:
    ingressHost: test-stubs-service-ccd-aks.service.core-compute-sandbox.internal
    livenessPath: '/health'
    releaseNameOverride: ccd-test-stubs-service
    environment:
      MANAGEMENT_WEB_URL: https://www-ccd-aks.service.core-compute-sandbox.internal