#todo test idam-pr
tags:
  idam-pr: false

ingressHost: chart-ccd-release.service.core-compute-preview.internal
ingressIP: "10.97.17.51"
consulIP: "10.97.11.254"

readinessDelay: 90
livenessDelay: 90

ccd:
  testStubsService:
    enabled: false
  definitionImporter:
    enabled: false
  userProfileImporter:
    enabled: true
# Disabled to fix Azure Pipeline
  ras:
    enabled: false
  elastic:
    enabled: true

postgresql:
  persistence:
    enabled: false

global:
  subscriptionId: "bf308a5c-0624-4334-8ff8-8dca9fd43783"
  tenantId: "531ff96d-0ae9-462a-8d2d-bec7c0b42082"
  ccdApiGatewayIngress: chart-ccd-release.service.core-compute-preview.internal
  idamApiUrl: https://idam-api.aat.platform.hmcts.net
  idamWebUrl: https://idam-web-public.aat.platform.hmcts.net
  postgresHostname: "sscs-flexibleserver-postgres-preview.postgres.database.azure.com"
  ccdAdminWebIngress: chart-ccd-release.service.core-compute-preview.internal
  environment: aat
  devMode: true

ccd-definition-importer:
  definitions:
    - https://github.com/hmcts/ccd-test-definitions/raw/master/src/main/resources/uk/gov/hmcts/ccd/test_definitions/excel/CCD_CNP_27_AUTOTEST1.xlsx
  userRoles:
    - caseworker-autotest1
    - caseworker-autotest1-private
    - caseworker-autotest1-senior
    - caseworker-autotest1-solicitor

ccd-user-profile-importer:
  users:
    - auto.test.cnp@gmail.com|AUTOTEST1|AAT_PRIVATE|TODO
    - auto.test.cnp+private@gmail.com|AUTOTEST1|AAT_PRIVATE|TODO
    - auto.test.cnp+public@gmail.com|AUTOTEST1|AAT_PRIVATE|TODO
    - auto.test.cnp+senior@gmail.com|AUTOTEST1|AAT_PRIVATE|TODO
    - auto.test.cnp+solc@gmail.com|AUTOTEST1|AAT_PRIVATE|TODO
    - auto.test12.cnp+private@gmail.com|AUTOTEST1|AAT_PRIVATE|TODO
    - auto.test12.cnp+solc@gmail.com|AUTOTEST1|AAT_PRIVATE|TODO
    - auto.test12.cnp+senior@gmail.com|AUTOTEST1|AAT_PRIVATE|TODO
