ingressHost: chart-ccd-release.service.core-compute-preview.internal
ingressIP: "10.97.17.51"
consulIP: "10.97.11.254"

readinessDelay: 90
livenessDelay: 90

apiGateway:
  s2sKey: "AAAAAAAAAAAAAAAA"
  idamClientSecret:
    value: "123456"

dataStoreApi:
  s2sKey: "AAAAAAAAAAAAAAAA"

definitionStoreApi:
  s2sKey: "AAAAAAAAAAAAAAAA"

global:
  subscriptionId: "bf308a5c-0624-4334-8ff8-8dca9fd43783"
  tenantId: "531ff96d-0ae9-462a-8d2d-bec7c0b42082"

ccd-test-stubs-service:
  enabled: true
  java:
    releaseNameOverride: ccd-test-stubs-service
    environment:
      MANAGEMENT_WEB_URL: https://ccd-case-management-web
